<%= @page_title = "Home Printerous" %>
<% content_for :head do %>
    <title>A simple page</title>
<% end %>
  <% content_for :stylesheets do %>
   
  <% end %>
 
  <% content_for :link_href do %>

  <% end %>


<% content_for :content_html do %>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-11">
                        Home 
                    </div>

                    <div class="col-1">
                        
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h1>Selamat datang <%= current_user.name %></h1>
            </div>
        </div>
    </div>
</div>        

<% end %>

<%= render template: "layouts/application" %>