
<div class="form-group mb-2 col-md-12">
    <label for="exampleInputname">Name</label>
    <%= f.text_field :name, placeholder: 'name', class: 'form-control', id: 'exampleInputname' %>
</div>
<div class="form-group mb-2 col-md-12">
        <label for="exampleInputemail">Email</label>
    <%= f.text_field :email, placeholder: 'email', class: 'form-control', id: 'exampleInputemail' %>
</div>
<div class="form-group mb-2 col-md-12">
        <label for="exampleInputphone">Phone</label>
    <%= f.text_field :phone, placeholder: 'phone', class: 'form-control', id: 'exampleInputphone' %>
</div>

<div class="form-group mb-2 col-md-12">
        <label for="exampleInputpassword">Password</label>
    <%= f.password_field :password, placeholder: 'password', class: 'form-control', id: 'exampleInputpassword' %>
</div>

<div class="form-group mb-3 col-md-12">
<button type="submit" class="btn btn-success btn-block">Simpan</button>                               
</div>